:root {
  --mainNav: #588080;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #d4d0d4;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family:  "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  text-decoration: none;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #4b414b;
  width: 10px;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.nav-logo {
  width: 40%;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;

}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.4rem;
  color: var(--mainYellow);
}
