:root {
  --mainNav: #588080;
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #d4d0d4;
  --mainDark: #232528;
  --mainYello: #ffa400;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family:  "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  text-decoration: none;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #4b414b;
  width: 10px;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.nav-logo {
  width: 40%;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.card {
  border-color: transparent;
  transition: all 1s linear;
}
.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
.card :hover {
    border: 0.04rem solid rgba(100, 90, 90, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(156, 140, 140, 0.2);
}
.card-footer :hover{
    background: rgb(243, 240, 243);
}
.img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: all 1s linear;
}

.img-container:hover .card-img-top {
  transform: scale(1.2);
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  border-radius: 0.6rem 0 0 0;
  transform: translate(100%, 100%); 
}

.img-container:hover .cart-btn {
  transform: translate(0, 0);
  transition: all 0.5s linear;
}

.cart-btn:hover {
  color: var(--mainBlue);
  cursor: pointer;
}
